body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  background: url('/static/images/background-img.avif') no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

h1, p {
  margin: 0;
}

.profile-image{
  width: 100%;
  max-width: 400px;
  height: auto;
  display:block;
  margin: 0 auto;
  filter: drop-shadow(0 0 8px white);
}

h1 {
  color: royalblue;
  font-size: 3rem;
  font-weight: 1000;
}

p{
  font-size: 1rem;
  color: black;
  margin-left: 80px;
  margin-right: 80px;
  font-weight: 500;
}

